# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
.venv/
venv/
env/

# Streamlit cache
.streamlit/

# Media (uploaded files)
media/

# Logs
*.log

# Django static and cache
staticfiles/
*.pid

# System files
.DS_Store
Thumbs.db

# Docker
*.dockerignore
